---
layout: privacybeleid
---

{% for grid in site.data.privacybeleid.grids %}
  {% include {{ grid.type | prepend: 'grids/' | append: '.html' }} grid=grid index=forloop.index %}
{% endfor %}

<div class="grid grid--intro grid--content">
  <div class="grid__inner">
    <div class="column column-span-12">
      <p>
        <a style="text-decoration:underline" href="/">Home</a>
      </p>

      <h2 class="title">Privacybeleid</h2>
      <p>
          Jouw privacy is belangrijk voor ons. Daarom hebben we een Privacybeleid opgesteld waarin wordt beschreven hoe we jouw gegevens verzamelen, gebruiken, vrijgeven, overdragen en bewaren.
      </p>

      <p>
          We verzamelen en gebruiken jouw persoonlijke gegevens enkel binnen de wettelijke grenzen zoals voorgeschreven in de Europese Vordering van 27 april 2016 betreffende de berscherming van natuurlijke personen in verband met de verwerking van persoonsgegevens en vrij verkeer van die gegevens.
      </p>

      <h2>
          Verzamelen van persoonlijke gegevens
      </h2>

      <p>
          Zodra je onze website bezoekt of beroep doet op onze dienstverlening, zal je onvermijdelijk bepaalde persoonlijke gegevens met ons delen.
      </p>

      <p>
          Wij kunnen de volgende persoonlijke gegevens verzamelen en verwerken:
      </p>

      <ul>
          <li>
              Persoonlijke identificatiegegevens (naam, voornaam, adres).
          </li>
          <li>
              Contactgegevens (telefoonnummer en e-mailadres).
          </li>
          <li>
              Financiële identificatiegegevens (bankgegevens).
          </li>
          <li>
              Elektronische identificatiegegevens (IP-adres, locatie, cookies).
          </li>
      </ul>

      <h2>
          Gebruik van persoonlijke gegevens
      </h2>

      <p>
          Het verwerken van persoonsgegevens is essentieel voor de werking van onze website en de daarbij horende dienstverlening.
      </p>

      <p>
          We verwerken uitsluitend persoonsgegevens voor volgende doeleinden:
      </p>

      <ul>
          <li>
              Klantenbeheer.
          </li>
          <li>
              Beheer van geschillen.
          </li>
          <li>
              Bescherming tegen fraude en overtredingen.
          </li>
          <li>
              Versturen van nieuwsbrieven indien je hiermee uitdrukkelijk hebt ingestemd. In dat geval heb je steeds de mogelijkheid om jouw toestemming terug in te trekken.
          </li>
      </ul>

      <p>
          Als je onze website bezoekt, kunnen we ook enkele gegevens verzamelen voor statistische doeleinden om het gebruik van onze website en dienstverlening te verbeteren.
      </p>

      <h2>
          Openbaarmaking aan derde partijen
      </h2>

      <p>
          We delen persoonlijke gegevens uitsluitend met partners die met ons samenwerken om onze producten en diensten te verstrekken:
      </p>

      <ul>
          <li>
              Hostingdoeleinden
          </li>
          <li>
              Administratieve doeleinden
          </li>
          <li>
              Communicatiedoeleinden
          </li>
      </ul>

      <p>
          We leveren persoonlijke gegevens aan verwerkers zodat ze de gegevens voor ons kunnen verwerken, op basis van onze instructies en in overeenstemming met ons Privacybeleid en andere passende vertrouwelijkheids- en beveiligingsmaatregelen. Persoonlijke gegevens worden nooit gedeeld met derde partijen voor marketingdoeleinden.
      </p>

      <h2>
          Bescherming van persoonlijke gegevens
      </h2>
      <p>
          Wij nemen de beveiliging van jouw persoonlijke gegevens zeer serieus.  In het bijzonder geldt het volgende:
      </p>

      <ul>
          <li>Waar mogelijk maken we gebruik van SSL.</li>
          <li>Waar mogelijk maken we gebruik van authenticatie in twee stappen.</li>
          <li>We evalueren onze handelswijzen met betrekking tot verzameling, opslag en verwerking van gegevens als bescherming tegen ongeautoriseerde toegang.</li>
      </ul>

      <p>
          Niettegenstaande ons veiligheidsbeleid, de controles die wij uitvoeren en de handelingen die wij stellen, kan een onfeilbaar niveau van veiligheid niet worden gegarandeerd.
      </p>

      <h2>
          Bewaartermijn van persoonlijke gegevens
      </h2>

      <p>
          We bewaren jouw persoonsgegevens gedurende de periode die nodig om de doeleinden, zoals beschreven in dit Privacybeleid, te vervullen. Tenzij een langere bewaartermijn wettelijk is vereist of toegestaan.
      </p>
      <p>
          We verwijderen jouw persoonsgegevens uit onze databanken zodra deze niet langer nodig zijn om deze doelen te bereiken of wanneer jij op geldige wijze het recht tot verwijdering van jouw persoonsgegevens uitoefent.
      </p>

      <h2>
          Jouw privacy rechten
      </h2>

      <p>
          Om de juiste naleving van de bescherming van persoonsgegevens af te kunnen dwingen heb je volgende rechten:
      </p>

      <ul>
          <li>
              Garantie van een rechtmatige en veilige verwerking.
          </li>
          <li>
              Recht van inzage.
          </li>
          <li>
              Recht op rechtzetting.
          </li>
          <li>
              Recht om vergeten te worden.
          </li>
          <li>
              Recht op beperking van de verwerking.
          </li>
          <li>
              Recht om bezwaar te maken.
          </li>
          <li>
              Recht op gegevensoverdraagbaarheid.
          </li>
          <li>
              Recht op het intrekken van jouw toestemming.
          </li>
      </ul>

      <p>
          Wanneer je beroep wenst te doen op één van bovengenoemde rechten, kan je contact opnemen met ons.
      </p>

      <h2>
          Het gebruik van "cookies"
      </h2>

      <h3>1. Wat zijn cookies?</h3>
      <p>
          Cookies zijn kleine data- of tekstbestanden die door websites op je lokale computer worden geplaatst. Dergelijke cookies kunnen verschillende doeleinden hebben:
      </p>

      <ul>
          <li>
              Technische cookies: taalinstellingen, bestelnummer, etc.
          </li>
          <li>
              Sessiecookies: tijdelijke cookies.
          </li>
          <li>
              Tracking cookies: gedrag op de website volgen en bijhouden.
          </li>
      </ul>

      <h3>2. Welk nut hebben cookies?</h3>
      <p>
          Cookies helpen ons om je bezoek aan de website te optimaliseren, bijvoorbeeld door keuzes te herinneren. Als je onze website wil consulteren, is het aan te raden dat je cookies ingeschakeld hebt.
      </p>
      <h3>3. Opslag persoonsgegevens via cookies?</h3>
      <p>
          De cookies die wij gebruiken zijn veilig. Via cookies slaan wij geen informatie op die direct aan jou gerelateerd is.
      </p>
      <h3>4. Wat voor cookies worden gebruikt?</h3>
      <p>
          Om onze website te consulteren, is het aan te raden om cookies te activeren op je computer, tablet of mobiele telefoon. Zonder ingeschakelde cookies is het mogelijk dat wij niet in staat zijn om je een probleemloos bezoek op onze website te garanderen.
      </p>
      <h4>_ga</h4>
      <p>
          Doel van de cookie – Bijhouden van statistieken via Google Analytics met <a href="https://support.google.com/analytics/answer/2763052?hl=nl">inschakkelde IP-anonimiseringsfunctie</a>. met het oog op verbetering van website en dienstenverlening. <a href="https://policies.google.com/privacy">Privacy policy van Google</a>.
      </p>

      <h2>
          Technische vragen over privacy
      </h2>

      <p>
          Als je technische vragen of opmerkingen hebt over onze website en Privacybeleid kan je contact opnemen met <a href="https://www.marsvaardig.eu">Marsvaardig</a>.
      </p>

      <p class="text--muted">
          Deze pagina werd het laatst bijgewerkt op 22/05/2018.
      </p>
    </div>
  </div>
</div>
