<div class="grid grid--newsletter">
    <div class="grid__inner">
        <div class="text-center">
            <h2>Nieuwsbrief</h2>
            <p>We houden je graag op de hoogte!</p>
        </div>
        <form action="http://nieuwsbrieven.janss.be/t/j/s/ydkldl/" method="post">
            <div class="column-span-9">
                <input class="form-control" name="cm-ydkldl-ydkldl" type="email" placeholder="Jouw email adres">
            </div>
            <div class="column-span-3">
                <input class="btn btn-primary btn-block" name="Submit" type="submit" value="Inschrijven">
            </div>
        </form>
    </div>
</div>
