{% assign column = include.column %}

{% assign align = '' %}

{% if column.design.fonts.align != nil %}
{% assign align = column.design.fonts.align | prepend: ' text-' %}
{% endif %}


<div class="card column-span-{{ column.width }}{{ align }}">
    {% if column.image != nil %}
    {% assign image = column.image %}
    <img class="card-img-top" src="{{ column.image | prepend: site.url }}" />
    {% endif %}
    <div class="card-block">
        <h2 class="card-title">{{ column.title }}</h2>
        <p class="card-text">{{ column.excerpt }}</p>
    </div>
</div>