.header {
  a {
    padding: 29px 0;
    display: block;
  }
}

.header__brand {
  @include span(first 3 of 12);
}

.header__navigation {
  @include span(9 of 12);

  ul {
    list-style: none;
    float: right;
  }

  li {
    float: left;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.grid--hero {
  height: 200px;
  text-align: center;

  color: white;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url('../images/IMG_3592.jpg');

  @include breakpoint($alpha) {
    height: 300px;
  }

  @include breakpoint($beta) {
    height: 400px;
  }

  img {
    height: 100px;
  }

  .grid__inner {
    height: 100%;
  }

  .horizontal-align {
    padding: 30px;
    background: rgba(#231F19, 0.5);
    border-radius: 10px;

    @include breakpoint($beta) {
      max-width: $beta;
      margin: 0 auto;
    }
  }
}

.grid--content,
.grid--footer {
  padding: 50px 0;
}

.grid--title,
.grid--footer {
  background-color: #4a4f6d;
  border-top: 1px solid darken(#4a4f6d, 5%);
  border-bottom: 1px solid darken(#4a4f6d, 5%);
  color: white;
}

.grid--intro,
.grid--newsletter {
  background-color: #f9f5ec;

  img {
    border: 1px solid lighten(#c4b9ae, 5%);
  }
}

.grid--blocks {
  background-color: lighten(#c4b9ae, 10%);
  border-top: 1px solid lighten(#c4b9ae, 5%);
  border-bottom: 1px solid lighten(#c4b9ae, 5%);
  padding-bottom: 25px;
}

.grid--blocks {
  h2 {
    font-size: 1.5rem;
  }
}

.grid--title {
  font-family: 'Stardos Stencil', cursive;

  .title {
    font-size: 2.15rem;
  }

  .excerpt {
    font-size: 1.35rem;

    p {
      margin-bottom: 0;
    }
  }

  @include breakpoint($beta) {
    .title {
      font-size: 2.5rem;
    }

    .excerpt {
      font-size: 1.5rem;
    }
  }
}

.grid--brands {
  background-color: #f9f5ec;
  padding-top: 1px;

  .grid__inner {
    max-width: 700px;
  }

  img {
    margin: 0 auto;
    max-width: 100px;
  }
}

h2 {
  font-family: 'Stardos Stencil', cursive;
}

.card {
  border-color: lighten(#c4b9ae, 5%);
  margin-bottom: $grid-padding;
  text-align: center;
}

.card-img-top {
  border-bottom: 1px solid lighten(#c4b9ae, 15%);
}

.card-block {
  background-color: #f9f5ec;
  border-radius: 0 0 $border-radius $border-radius;
}

.grid--newsletter {
  padding: 50px 0 35px 0;

  .grid__inner {
    max-width: 600px;
  }

  form {
    margin-top: 40px;
  }

  .form-control,
  .btn {
    margin-bottom: 15px;
  }
}

.grid--footer {
  .grid__inner {
    max-width: 700px;
  }

  a {
    color: white;
  }
}